/* Desktops ----------------------------------------------------------------------------------------------*/
/* Desktops ----------------------------------------------------------------------------------------------*/
/* Desktops ----------------------------------------------------------------------------------------------*/

@media screen and (min-width: 901px) {
  #mjc {
    font-size: 10rem;
    cursor: pointer;
  }

  #mjc.top-left {
    font-size: 3rem;
  }

  a {
    background-color: #000;
    color: #000;
    margin-left: -0.2rem;
    text-decoration: none;
    display: block;
    padding: 0.5rem;
  }

  a.active {
    background-color: #fff;
    color: #000;
  }

  a:hover {
    background-color: #fff;
    color: #000;
    font-style: italic;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  ul li {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: top;
    position: relative;
  }

  .mainMenu {
    display: none;
    position: relative;
  }

  .mainMenu.active {
    display: block;
  }

  .sublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    white-space: nowrap;
  }

  .sublist.active {
    display: block;
  }

  .sublist li {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: top;
  }

  .subSublist {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: auto;
    white-space: nowrap;
  }

  .subSublist.active {
    display: block;
  }

  .subSublist li {
    display: inline-block;
    margin-right: 0.5rem;
    vertical-align: top;
  }
  
  /* Styles for the menu */
.menu {
  width: 100%;
  background-color: #333;
  color: white;
  padding: 10px 0;
  text-align: center;
}



/* Ensure the gallery images are displayed horizontally */
.gallery .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

}

.gallery-content {
  display: flex; /* Align the images horizontally */
  gap: 10px; /* Adds some space between the images */
}

.gallery-content div {
  flex-shrink: 0; /* Prevents the divs from shrinking */
}

.gallery-content img{
  width: 20rem; /* Set the width of the images */
}


/* Styles for the description container */
.description .container {
  max-width: 24rem;
  padding: 4rem;
  text-align: center;
  margin-top: 4rem;
  word-wrap: break-word;

  background-color: #000;
  color: #fff;
}




}
